<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1 class="pagination justify-content-center">Danh Sách Sản Phẩm</h1>
    <div class="container mt-3">
      <table class="table">
        <thead class="table-info">
          <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Giá Sản Phẩm</th>
            <th>Nhà Cung Cấp</th>
            <th>Ảnh Minh Họa</th>
            <th>Màu Sắc</th>
            <th>Loại Sản Phẩm</th>
            <th>Số lượng</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(product => { %>
          <tr>
            <td><%= product.maSanPham %></td>
            <td><%= product.tenSanPham %></td>
            <td><%= product.giaSanPham %></td>
            <td><%= product.nhaSanXuat %></td>
            <td>
              <img
                src="<%= product.anhMinhHoa %>"
                alt="Ảnh minh họa"
                width="100"
              />
            </td>
            <td><%= product.mauSac %></td>
            <td><%= product.loaiSanPham %></td>
            <td><%= product.maKhachHang %></td>
            <td>
              <button
                class="deleteButton"
                data-product-id="<%= product._id %>"
                style="color: red"
              >
                Delete
              </button>
            </td>
            <td>
              <button
                class="editButton"
                data-product-id="<%= product._id %>"
                style="color: blue"
              >
                Edit
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".deleteButton");
        const editButtons = document.querySelectorAll(".editButton");

        deleteButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            const productId = this.getAttribute("data-product-id");
            // Thay đổi đường dẫn của endpoint xoá sản phẩm
            const deleteEndpoint = "/deleteproduct/" + productId;

            // Gửi yêu cầu xoá sản phẩm đến server
            fetch(deleteEndpoint, {
              method: "DELETE",
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data);

                // Xoá sản phẩm khỏi giao diện ngay sau khi xoá thành công
                const row = this.closest("tr");
                row.parentNode.removeChild(row);
              })
              .catch((error) => {
                console.error("Lỗi khi xoá sản phẩm:", error);
              });
          });
        });
        editButtons.forEach(function (button) {
          button.addEventListener("click", function () {
            const productId = this.getAttribute("data-product-id");

            // Chuyển đến trang chỉnh sửa với productId
            window.location.href = "/editproducts/" + productId;
          });
        });
      });
    </script>
  </body>
</html>
